.small-cards {
  display: flex;
  width: 90%;
  justify-content: center;

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8rem;
    font-size: x-small;
    overflow: hidden;
    margin: 0 0.25rem 0.5rem;

    img {
      height: 4rem;
      width: 100%;
      object-fit: cover;
      z-index: -1;
    }
    &:hover {
      -webkit-box-shadow: inset 0px 0px 0px 8px rgba(135, 206, 250, 0.51);
      box-shadow: inset 0px 0px 0px 8px rgba(135, 206, 250, 0.51);
      cursor: pointer;
    }
  }

  .a,
  .b {
    -webkit-box-shadow: inset 0px 0px 0px 8px rgba(135, 206, 250, 0.51);
    box-shadow: inset 0px 0px 0px 8px rgba(135, 206, 250, 0.51);
    cursor: pointer;
  }
}
