@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import 'small-cards';
@import 'large-cards';

* {
  box-sizing: border-box;
  margin: 0;

  #root {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;

    h1 {
      text-align: center;
      color: #d3d2d2;
      height: 4rem;
      border-bottom: 1px solid #d3d2d2;
      width: 100%;
      margin: 0.5rem 0 1rem;
    }
  }
}
